[user]
  name = Guilherme Moreira
  email = guilhermerx7@gmail.com
[includeIf "gitdir:~/workspace/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/workspace/work/"]
  path = .gitconfig-work
[core]
  excludesFile = ~/.gitignore
